.cart {
  width: 60vw;
  height: auto;
  background-color: rgb(153, 165, 42);
  border-radius: 10px;
}

.cartItem {
  overflow-y: auto;
  max-height: 19.5rem;
}

.cart > .totalAmount {
  display: flex;
  justify-content: space-around;
  padding: 10px 0 10px 0;
  width: 100%;
}

.cart > .totalAmount > span {
  font-weight: bolder;
  font-size: 20px;
  margin: 10px 0 0;
}

.cart > .totalAmount > .actions > button {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bolder;
  border-radius: 5px;
  background-color: brown;
}

@media (max-width: 768px) {
  .cart {
    width: 80vw;
  }
  .cart > .totalAmount {
    flex-wrap: wrap;
  }
  .cart > .totalAmount > span {
    font-size: 15px;
  }
  .cart > .totalAmount > .actions > button {
    justify-self: flex-end;
    color: white;
  }
}
